body {
    width: 100%;
    margin:0;
    padding:0;
}
.header{
    background-color: #323232;
    height: 60px;
}
.main-menu{
    width: 960px;
    margin:0 auto;
    border-bottom: 1px solid #e4e9eb;
    text-align: center;
    
}
.menu-item{
    display: inline-block;
    vertical-align: middle;
    padding: 0 11px;
    
    
}
.menu-item:first-child{
    padding-left: 0;
}
.menu-item:last-child{
    padding-right: 0;
}
.main-menu a{
    text-decoration: none;
    outline: none;
    color: #f0f0f0;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size:15px;
}
.logo{
    margin-top: 8px;
   
}
.main-menu:after {
    content: "";
    width: 0;
    height: 0;
    border-top: #323232 solid 1.75rem;
    border-right: #ffffff solid 2.8125rem;
    border-left: #ffffff solid 2.8125rem;
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -2.8125rem;
    -webkit-transform: scale(0.99999);
    -ms-transform: scale(0.99999);
    transform: scale(0.99999);
  }
  .main-menu a:hover{
      color: #2eb398;
  }
  

.hexagon-conteiner{
    
    margin:0 auto;
    padding-top: 70px;
    border-bottom: 1px solid #e4e9eb;
}
.hexagon{
    width :180px;
    height: 210px;
    margin: 10px;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
}
.hex1{
    visibility: hidden;
    width :100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
  }
  .hex2{
    width :100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background-image: url('../img/1.png');
    background-repeat: no-repeat;
    background-position:  50%;
    
    
  }
  .imges2{
    background-image: url('../img/2.png');
    background-repeat: no-repeat;
    background-position:  50%;
  }
  .imges3{
    background-image: url('../img/3.png');
  }
  .imges4{
    background-image: url('../img/4.png');
  }
  .imges5{
    background-image: url('../img/5.png');
  }
  .imges6{
    background-image: url('../img/6.png');
  }
.imges7{
    background-image: url('../img/7.png');
}
.imges8{
    background-image: url('../img/8.png');
}
.imges9{
    background-image: url('../img/9.png');
}
.imges10{
    background-image: url('../img/10.png');
}
.imges11{
    background-image: url('../img/11.png');
}
.imges12{
    background-image: url('../img/12.png');
}
.imges13{
    background-image: url('../img/13.png');
}
.row1{
    width: 820px;
    margin: 0 auto;
    
}
.row2{
    width: 1100px;
    margin: 0 auto;
    position: relative;
    left:40px;
    top: -60px;
}
.row3{
    width: 820px;
    margin: 0 auto;
    position: relative;
    top: -120px;
}


.about-conteiner{
    min-height: 340px;
    background-color: #2eb398;
    padding-top: 10px;
}
.info{
    width: 820px;
    margin: 0 auto;
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
    min-height: 310px;
    margin-top: 10px;
    padding-top: 50px;
    box-sizing: border-box;
}
.infoimg{
    width :180px;
    height: 210px;
    margin: 20px;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
    float:left;
}
.infoimg1{
    visibility: hidden;
    width :100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}
.infoimg2{
    width :100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background-image: url('../img/me.png');
    background-repeat: no-repeat;
    background-position:  50%;
}
.infotext{
  color:#d7fcf5;
  font-family: 'MavenPro', sans-serif;
}
.infotext h1{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0;
}
.infotext h3{
    font-size: 18px;
    font-weight: 400;
    color: #20816d;
    line-height:1;
    margin-top: 0;
}
.infotext p{
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    font-size: 12px;
    width: 790px;
}
.social{
    display:inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    left: 400px;
    top: 30px;
}
.sprait{
    width: 25px;
    height: 24px;
    display:inline-block;
    background-image: url('../img/social.png');
    background-repeat: no-repeat;
    margin: -2px;
    padding: 0;  
}
.twitter{
    background-position-x: -25px;
}
.google{
    background-position-x: -50px;
}
.pi{
    background-position-x: -75px;
}
.in{
    background-position-x: -100px;
}
.global{
    background-position-x: -125px;
}


footer{
    height: 580px;
    background-color: #323232;

}
.contact-conteiner{
    box-sizing: border-box;
    width: 825px;
    margin:0 auto;
    height: 540px;
    padding-top:50px;
}
.form{
    width: 600px;
    float: left;
    
}
fieldset{
    border: none;
    font-family: 'MavenPro', sans-serif;
    font-weight: 200;
    font-size: 30px;
    color:#e0e0e0;

}
fieldset p{
    font-size: 18px;
    font-weight: 100;
    margin-top: -8px;
}
.name,
.email,
.subject,
.text{
    width: 550px;
    background-color: #454545;
    border: none;
    color: #bebebe;
    padding-left:10px; 
}
.name,
.email,
.subject{
    height: 40px;
    margin-bottom: 15px;
    
}
.text{
    padding: 0;
    padding-top:10px; 
    padding-left:10px;
    margin-bottom: 10px;
}
.button{
    background-color: #2eb398;
    color:#d7fcf5;
    float:right;
    width: 90px;
    height: 35px;
    text-transform: uppercase;
    border: none;
    font-family: 'Lato',sans-serif;
    font-weight: bold;
    font-size: 12px;
    
}

.words{
    font-family: 'Lato',sans-serif;
    font-size: 12px;
    font-weight: 400;
    color:#d7fcf5;
    width: 189px;
    height: 100px;
    float: left;
    margin-top: 57px;
    
    line-height:1.5em;
}
.words p{
    text-align: justify;
}
.contacts{
    width: 150px;
    color:#d7fcf5;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin-top: 80px;
    
    float:left;
}
.images-loc{
    height: 13px;
    width: 13px;
    background-image: url('../img/tel.png');
    background-repeat: no-repeat;
    background-position-y:2px;
    float:left;
    margin-right: 10px;
}
.tel{
    background-position-y:-20px;
}
.mess{
    background-position-y:-40px;
}
.copyrite{
    background-color: #222222;
    color: #323232;
    height: 50px;
    font-family: 'Lato',sans-serif;
    font-size: 12px;
    padding-top: 15px;
    padding-left: 30px;
}
